* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* max-width: 1400px;
    min-width: 800px; */
    background-color: #1f2937;
    margin: auto;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.tor-quote h2 {
    font-weight: 300;
    font-style: italic;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
}

.tor-quote h3 {
    color: #1f2937;
}

p, a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

button {
    background-color: #3882f6;
    font-size: 18px;
    font-weight: 600;
    color: #f9faf8;
    border-radius: 8px;
    padding: 8px 24px;
    max-width: max-content;
    border: 0px solid #3882f6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 0px;
}

nav {
    display: flex;
    gap: 24px;
}

.hero-section {
    padding: 120px 24px;
    display: flex;
    place-items: center center;
    gap: 32px;
}

.hero-section-text {
    display: flex;
    flex-flow: column;
    place-items: start center;
    gap: 16px;
    flex: 1;
}

.hero-section-img {
    background-image: url(https://images.unsplash.com/photo-1737741276705-569ebd946f5b?q=80&w=3571&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    flex: 1;
    background-size: cover;
    min-height: 320px;
}

.info {
    padding: 48px 24px 120px;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 40px;
    background-color: #f9faf8;
}

